body {
    background-color: rgb(240, 240, 240);
    /* background-image: url('ESA.ico');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}

/* for title */

#container-header {
    height: 8%;
    width: 100%;
    display: flex;
    margin-top: -7px;
    margin-bottom: 10px;
}

#logo {
    width: 0%;
}

#title {
    width: 100%;
    margin-top: -10px;
}

/* for main content */

#container {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: -10px;
}

#left {
    width: 22%;    
    padding-top: 10px;
    background-color: rgb(220, 220, 220);
    height: 91%;
    /* overflow-y: scroll;
    display: flex;
    flex-direction: column; */
}

#content {
    width: 88%;
    margin-left: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#right {
    width: 0%;
    overflow-y: scroll;
    background-color: yellow;
}

#container-entities {
    width: 90%;    
    height: 75%;
    margin: 5px 0px 0px 18px;  
    border-style: groove;
    border-color: rgb(230, 230, 230);
    overflow-y: scroll;
    display: flex;
    flex-direction: column; 
}

#container-collections {
    width: 90%;    
    height: 15%;
    margin: 5px 0px 0px 18px;  
    border-style: groove;
    border-color: rgb(230, 230, 230);
    overflow-y: scroll;
    display: flex;
    flex-direction: column; 
}