hr.line1 {
    height: 1.5px;
    background-color: rgb(20, 20, 20);
    border: none;
    margin: -10px 0px -8px 0px;
}

hr.line2 {
    height: 1px;
    background-color: rgb(71, 51, 248);
    border: none;
    margin: 6px 0px 15px 0px;
}