h1 {
    text-align: center;
}

hr.line1 {
    height: 3px;
    background-color: rgb(20, 20, 20);
    border: none;
}

hr.line2 {
    height: 2px;
    background-color: rgb(80, 80, 80);
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.block hr.line3 {
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.block hr.line4 {
    height: 1px;
    background-color: rgb(135, 186, 252);
    border: none;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 35px;
}

div#search-div {
    margin-left: 20px;
}

ul.entity-list {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

ul.entity-list li.link span {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

ul.entity-list li.link span:hover {
    color: #00f;
    text-decoration: underline;
}

div.block {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: rgb(230, 230, 230);
}

.block p.content {
    padding-left: 20px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: normal;
}

.block p.inner-p1 {
    padding-left: 20px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: normal;
}

.block p.inner-p2 {
    padding-left: 60px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: normal;
}

.block ol.inner-ol1 {
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: normal;
}

.block ol.inner-ola-1 {
    padding-left: 120px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: normal;
}

.block ol.inner-ola-2 {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}

.block p.content span.field {
    padding-left: 20px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: bold;
}

.block div p.field {
    padding-left: 40px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: bold;
}

.block div p.subitem {
    padding-left: 60px;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: normal;
}

.block span.shortarray {
    font-size: 17px;
    font-weight: bold;
}

/* 
.block ol.item {
    padding-left: 45px;
    margin-bottom: -10px;
    font-size: large;
    font-weight: normal;
} */