#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#leftThing {
    width: 15%;
    overflow-y: scroll;
}

#content {
    width: 95%;
    margin-left: 10px;
    overflow-y: scroll;
}

#rightThing {
    width: 0%;
    overflow-y: scroll;
    background-color: yellow;
}

/* ///////////////// */

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr.line1 {
    height: 3px;
    background-color: rgb(20, 20, 20);
    border: none;
    margin: -10px 0px -8px 0px;
}

.block hr.line2 {
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 20px 20px 10px 20px;
}

.block hr.line3 {
    height: 1px;
    background-color: rgb(120, 120, 120);
    border: none;
    margin: 25px 35px 0px 15px;
}

div.nav {
    margin: 0px 0px 10px 20px;    
    font-weight: bold;
}

div span.nav {
    color: blue;
    text-decoration: none;    
}

div span.nav:hover {
    color: #00f;
    text-decoration: underline;
    cursor: pointer;
}

div#search-div {
    margin-left: 20px;
}

input#search-entity {
    padding-left: 10px;
    width: 75%;
}

ul.entity-list {
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

ul.entity-list li.link span {
    color: blue;
    text-decoration: none;    
}

ul.entity-list li.link span:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

div.block {
    padding: 20px 0px 0px 20px;
    margin: 0px, 0px, -5px, 0px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;    
    background-color: rgb(230, 230, 230);
}

.block p.content {
    padding-left: 20px;
    margin-bottom: -10px;
    font-size: 17px;
    font-weight: normal;
}

.block p.inner-p1 {
    padding-left: 20px;
    margin-bottom: -10px;
    font-size: 17px;
    font-weight: normal;
}

.block p.inner-p2 {
    padding-left: 40px;
    margin-bottom: -10px;
    font-size: 17px;
    font-weight: normal;
}

.block ol.inner-ol1 {
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: normal;
}

.block ol.inner-ola-1 {
    padding-left: 80px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: normal;
}

.block ol.inner-ola-2 {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

.block p.content span.field {
    padding-left: 0px;
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: bold;
}

.block div p.field {
    padding-left: 20px;
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: bold;
}

.block div p.subitem {
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 16px;
    font-weight: normal;
}

.block span.shortarray {
    font-size: 16px;
    font-weight: bold;
}

.block span.shortarray-link {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.block span.shortarray-link:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}